body,html{
    height: 100%;
    min-height: 100%
}

img{
    width: 240px;
    border-radius: 10px;
    border: 1px solid grey;
    margin-top: 1%
}
.div_H_F{
    height: 80%;
    width: 80%;
    margin-top: 3%;
    margin-left: 10%;
}
.div_H_F> a {
    text-decoration: none;
    font-size: 1.3rem;
    color: grey;
    padding: 0.5rem
}
.div_H_F>div{
  height: 80%;
  margin-top: 3%
 }
 li{
     color:black;
     list-style: none;
     padding: 1rem
    }
li>span{
        color: gray;
 }