<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ABOUT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css">
    <script src="main.js"></script>
</head>
<body>
    <div class="div_H_F">
    <h2>ABOUT</h2>
    {{>header}}
    <div>
    <img src="sam.jpeg">
    <ul>
        <li>Name: Sam Daived</li>
        <li>Profession: Freelance web developer</li>
    </ul>
    <div>
    {{>footer}}
    </div>
</body>
</html>